<div class="">
  <!--Side bar-->
  <!-- <div class="col-1 col-md-1  left-side">
    <a [routerLink]="''">Group</a>
  </div> -->
  <!--Side bar end-->
  <!--Right side-->
  <header>
    <div class="container">
      <div class="header">
        <span class="logo">
          <img src="assets/default-logo.png" alt="" srcset="">
        </span>
        <a class="menu-link" [routerLink]="''">Group</a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="col-12">
      <div class="row">
      <router-outlet></router-outlet>
    </div>
    </div>
    <!--Right side end-->
  </div>
</div>
